*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    padding: 0;
}

body,html { width: 100%; height: 100%; }

body { font-family: 'Montserrat', sans-serif; }

#ui { position: relative; width: 100%; height: 100%; overflow: hidden; }

.info { position: absolute; }

.info.notify { bottom: 75px; right: 25px; width: 400px; color: #FFF; opacity: 0; display: none; }

.info.notify div.background { width: 100%; height: 100%; background: rgba(0,0,0,0.70); padding: 25px; border-radius: 5px; }
.info.notify div.background div.title { font-weight: 700; text-transform: uppercase; font-size: 14px; margin: 0 0 5px 0; text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.50);  }
.info.notify div.background div.msg { font-size: 12px; text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.75);  }

.info.notify.normal div.background { background: rgba(11,151,183,0.70); }
.info.notify.red div.background { background: rgba(220,10,10,0.70); }

.info.notify.rainbow div.background { animation: trew-rainbow 5s infinite; }


@keyframes trew-rainbow{
    100%,
    0%{ background: rgba(255,0,0,0.70); }
    8%{ background: rgba(255,127,0,0.70); }
    16%{ background: rgba(230,205,23,0.70); }
    25%{ background: rgba(127,255,0,0.70); }
    33%{ background: rgba(0,255,0,0.70); }
    41%{ background: rgba(0,255,127,0.70); }
    50%{ background: rgba(0,255,255,0.70); }
    58%{ background: rgba(0,127,255,0.70); }
    66%{ background: rgba(0,0,255,0.70); }
    75%{ background: rgba(127,0,255,0.70); }
    83%{ background: rgba(255,0,255,0.70); }
    91%{ background: rgba(255,0,127,0.70); }
}